.App {
  text-align: center;
}

.nav-banner {
  text-align: center;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.starship-card {
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(7, 107, 81);
  padding: 20px;
}

.detail-container {
  display: flex;
  justify-content: center;
}

.detail-card {
  width: 400px;
  text-align: center;
  background-color: rgb(7, 107, 81);
  padding: 20px;
}